h1 {
  text-align: center;
}

span {
  background-color: rgba(157,20,12,.5);
  color: #3BC7DE;
  border-radius: 10px;
}

span:hover {
  background-color: rgba(59,199,222,.5);
  color: #650D08;
  border-radius: 10px;
}

body {
  background-image: url("http://vignette1.wikia.nocookie.net/elderscrolls/images/f/f4/DRDungeon.png/revision/latest?cb=20120512225154");
  background-repeat: no-repeat;
  background-size: cover;
}

.window {
  min-height: 300px;
}

.window-top, .window-bottom {
  min-height: 150px;
  max-height: 200px;
}

.result-screen {
  min-height: 100px;
}

.gear-title {
  text-align: center;
}

.results {
  max-height: 200px
}

.player-head, .player-arms, .player-chest, .player-hands, .player-legs, .player-feet {
  margin-left: 0px;
  padding-left: 0px;
}

.player-head-title, .player-arms-title, .player-chest-title, .player-hands-title, .player-legs-title, .player-feet-title {
  margin-right: 0px;
  padding-right: 0px;
  border-right: 0px;
}

#player {
  background-color: rgba(216,216,216,.55);
  border-radius: 30px;
  color: #650D08;
}

#player:hover {
background-color: rgba(216,216,216,.75);}

#enemy {
  /*background-color: black;*/
  max-width: 700px;
  max-height: 200px;
}

#statuts-combat, #status-gear {
  overflow: auto;
  min-height: 295px;
  max-height: 400px;
}
