h1 {
  color: blue;
  text-align: center;
}

  /** {
    border: dashed 1px black;
  }*/

.window {
  min-height: 300px;
}

.window-top, .window-bottom {
  min-height: 150px;
  max-height: 200px;
}

.result-screen {
  min-height: 100px;
}

.gear-title {
  text-align: center;
}

.results {
  max-height: 200px
}

#player {
  background-color: #07431F;
  color: #FFF035;
}

#enemy {
  background-color: black;
  max-width: 700px;
}

#statuts-combat, #status-gear {
  overflow: scroll;
  min-height: 295px;
}
