h1 {
  color: blue;
  text-align: center;
}

  /** {
    border: dashed 1px black;
  }*/

.window {
  min-height: 300px;
}

.window-top, .window-bottom {
  min-height: 150px;
  max-height: 200px;
}

.result-screen {
  min-height: 100px;
}

.gear-title {
  text-align: center;
}

#enemy {
  background-color: black;
  max-width: 700px;
}

#player-dmg
